* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.f1-news-container,
.f1-driver-news-container {
  margin: 0;
  width: auto;
  height: 100%;
  overflow: auto;
  text-align: center;
  font-size: large;
  color: black;
  font-weight: bolder;
}
.f1sports-news-container,
.f1-driverStandings-container {
  display: inline-flex;
  margin: 10px;
  text-align: left;
  border: 2px solid black;
  border-radius: 10px;
  width: 300px;
  height: 250px;
}
.f1title,
.f1-driver-title {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(62, 8, 112);
}
.f1-right-column,
.f1-center-column,
.f1-left-column {
  overflow: auto;

  /* width: auto; */
  height: 100%;
}
